$color-background: #19171c;
$color-background-dimmed: #19171ccc;
$color-panel: #0e0c13;
$color-text: #dad8de;
$color-text-dimmed: #dad8decc;
$color-border: #212121;
$color-button-primary: #6441a4;
$color-button-primary-dimmed: #6441a4cc;
$color-button-general: #322f37;
$color-dim: rgba(0, 0, 0, 0.4);

$font-size-tiny: 12px;
$font-size-small: 14px;
